<app-slider [name]="'Welcome to Angular Blog'"></app-slider>
<div class="center">
    <section id="content">
        <h2 class="subheader">{{title}}</h2>
        <div id="articles">
            <article class="article-item" id="article-template">
                <div class="image-wrap">
                    <img src="https://www.w3schools.com/w3css/img_lights.jpg" alt=Landscape>
                </div>
                <h2>Post Test</h2>
                <span class="date">5 minutes ago</span>
                <a href="article.html">Read more</a>
                <div class="clearfix"></div>
            </article>
        </div>    
    </section>
    <app-sidebar></app-sidebar> 
</div>