<aside id="sidebar">
    <div id="nav-blog" class="sidebar-item">
        <h3>You can do this</h3>
        <a [routerLink]="['/blog/create']" class="btn btn-success">Create post</a>
    </div>
    <div id="search" class="sidebar-item">
        <h3>Search</h3>
        <p>Find the post you are looking for</p>
        <form #searchForm="ngForm" (ngSubmit)="goSearch()">
            <input type="text" name="search" [(ngModel)]="searchString">
            <input type="submit" name="submit" value="Search" class="btn">
        </form>
    </div>
</aside>
<div class="clearfix"></div>