

<app-slider [name]="'Form'" [size]="'small'"></app-slider>
<div class="center">
    <section id="content">
        <h1 class="subheader">Application Form</h1>
        <!--<div id="dataFromUser" *ngIf="user.firstName">
            <ul>
                <li>{{user.firstName}}</li>
                <li>{{user.lastName}}</li>
                <li>{{user.bio}}</li>
                <li>{{user.gender}}</li>
            </ul>
        </div>-->
        <form class="mid-form" #userForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" #firstName="ngModel" [(ngModel)]="user.firstName" 
                required pattern="[a-zA-Z]+">
                <small *ngIf="!firstName.valid && firstName.touched">
                    First Name is not valid
                </small>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" #lastName="ngModel" [(ngModel)]="user.lastName" 
                required pattern="[a-zA-Z]+"> 
                <small *ngIf="!lastName.valid && lastName.touched">
                    Last Name is not valid
                </small>
            </div>
            <div class="form-group">
                <label for="bio">Biography</label>
                <textarea name="bio" #bio="ngModel" [(ngModel)]="user.bio" required></textarea>
                <small *ngIf="!bio.valid && bio.touched">
                    Biography is not valid
                </small>
            </div>
            <div class="form-group radio-btn">
                <input type="radio" name="gender" value="Male" #gender="ngModel" [(ngModel)]="user.gender" required>Male
                <input type="radio" name="gender" value="Female" #gender="ngModel" [(ngModel)]="user.gender">Female
                <input type="radio" name="gender" value="Other" #gender="ngModel" [(ngModel)]="user.gender">Other
                <small *ngIf="!gender.valid && gender.touched">
                    Gender is not valid
                </small>
            </div>
            <div class="clearfix"></div>
            <input type="submit" value="Send" class="btn btn-success"
            [disabled]="userForm.invalid">
        </form>
        <h2 class="subheader">Events</h2>
        <button (click)="clicked()">Click Here</button>
        <input type="text" [(ngModel)]="field" (blur)="outInput()"/>
        <input type="text" [(ngModel)]="field2" (keyup.enter)="outInput()"/>
        {{field}} 
    </section>
    <app-sidebar></app-sidebar> 
</div>
